body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}

img {
  max-width: 400px;
  max-height: auto;
}

footer {
  font:100;
}

.navbar {
  font-size: 2.5em;
}

.intro {
  font-size: 1.2em;
  margin-left: 0;
  margin-bottom: 20px;
}

.box1 {
  margin: 0px;
}
.box1-img {
max-width: 400px;
max-height: auto;
}

.box1-float {
z-index: 30px;
}