body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  background-color: black;
}

img {
  max-width: 400px;
  max-height: auto;
}

footer {
  font-size: 1rem;
}

/* CLASSES */

.navbar {
  font-size: 2.5em;
}

/* DIV FLEX BOX 1 */

.box1 {
  display: flex;
  flex: 1;
  margin: 0px;
  max-height: 200px;
  background-color: hotpink;
}

.box1-img {
max-width: 400px;
max-height: auto;
}

.box1-float {
  background-color:#00ff55;
  max-width: 200px;
  max-height: 200px;
  margin-top: 20%;
  margin-bottom: auto;
}

/* DIV FLEX BOX 2 */

.box2 {
  background-color: white;
}
.box2-intro {
  font-size: 1.2em;
  margin-left: 0;
  margin-bottom: 20px;
}

/* DIV FLEX BOX 3 */