body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  background-color: green;
}

img {
  max-width: 400px;
  max-height: auto;
}

footer {
  font:100;
}

.navbar {
  font-size: 2.5em;
}

.intro {
  font-size: 1.2em;
  margin-left: 0;
  margin-bottom: 20px;
}



.box1 {
  display: flex;
  flex: 1;
  margin: 0px;
  max-height: 200px;
  background-color: hotpink;
}
.box1-img {
max-width: 400px;
max-height: auto;
}

.box1-float {
  background-color:#ffffff;
  text-decoration-color: tomato;
  max-width: 200px;
  max-height: 200px;
  margin-top: 20%;
  margin-bottom: auto;
}